* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html {
    min-height: 100%;
  }
  
  body {
    background: url(./coffee.png);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: relative;
    background-size: cover;
    overflow: hidden 
  }
  
  h1 {
    color: rgb(194, 98, 19);
    font-size: 4rem;
    text-align: center;
    margin-top: 3rem;
    letter-spacing: 0.2rem;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
  }
  
  h4 {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 0.8rem;
    color: rgb(254, 88, 67);
    opacity: 90%;
    letter-spacing: 0.1rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 3px 3px 3px #001101;
  }
  
  h2 {
    color: rgb(245, 34, 2);
    font-size: 3rem;
    text-align: center;
  }

  span {
    width: 12.5rem;
    height: 12.5rem;
    border-radius: 50%;
    border: 0.4rem ridge rgb(127, 52, 52);
    display: flex;
    text-align: center;
    line-height: 12.5rem;
    background-color: rgb(164, 73, 34);
    justify-content: center;
    margin: 0 auto;
    margin-top: 2rem;
  }

  button {
    display: block;
    margin: 0 auto;
    margin-top: 1rem;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    transition-duration: 1.5s;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.2rem;
  }

  button:hover {
    background-color: #3e8e41;
    color: white;
  }

  button:active {
    background-color: #9de1a0;
    padding: 7px 16px;
    transition-duration: 0s
  }

  .container {
    display: flex;
    justify-content: space-between;
    padding: 2rem 7rem;
  }

 
  a {
    text-decoration: none;
    transition: color 0.3s ease;
    font-size: 2.2rem;
  }

  #water-link {
    color: rgb(128, 128, 237)
  }
  
  #water-link:hover {
    color: rgb(181, 181, 229)
  }

  #coffee-link {
    color: rgb(245, 201, 143)
  }
  
  #coffee-link:hover {
    color: rgb(242, 220, 191)
  }

  #wine-link {
    color: rgb(179, 11, 70)
  }
  
  #wine-link:hover {
    color: rgb(218, 36, 99)
  }

  #beer-link {
    color: rgb(203, 220, 51)
  }
  
  #beer-link:hover {
    color: rgb(231, 245, 185)
  }

  footer {
    margin-top: 3.5rem;
    text-align: center;
    font-size: 1.2rem;
    color:rgb(239, 232, 232)
  }

  @media screen and (max-width: 350px) {
    h1 {
        font-size: 2rem;
        margin-top: 1rem;
    }

    h4 {
        font-size: 0.7rem;
    }

    span {
        width: 6rem;
        height: 6rem;
        margin-top: 1rem;
        line-height: 6rem;
    }

    button {
        font-size: 0.7rem;
        padding: 7px 15px;
    }

    h2 {
        font-size: 2rem;
    }

    a {
        font-size: 1rem;
    }

    footer {
        font-size: 0.8rem;
        margin-top: 10rem;
        color:rgb(253, 255, 255);
    }      

    .container {
        display: flex;
        justify-content: space-between;
        padding: 3rem 2rem;
      }
  }

  @media screen and (min-width: 350px) and (max-width: 600px) {
    h1 {
        font-size: 3rem;
        margin-top: 1.5rem;
    }

    h4 {
        font-size: 1.1rem;
    }

    span {
        width: 10rem;
        height: 10rem;
        margin-top: 1.5rem;
        line-height: 10rem;
    }

    button {
        font-size: 1rem;
        padding: 10px 20px;
    }

    h2 {
        font-size: 2.5rem;
    }

    a {
        font-size: 1.5rem;
    }

    footer {
        font-size: 1.5rem;
        margin-top: 8rem;
    }

    .container {
        display: flex;
        justify-content: space-between;
        padding: 1rem 3rem;
      }
  }